@use '@styles/base' as *;

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-items-count), 1fr);
  gap: var(--grid-row-gap, var(--grid-gap)) var(--grid-gap);
  max-width: calc(
    var(--grid-items-count) *
      (var(--grid-item-width) + var(--grid-gap)) - var(--grid-gap)
  );
  margin-inline: auto;

  &__item {
    display: flex;
    justify-content: center;

    & > * {
      flex-grow: 1;
      max-width: var(--grid-item-width);
    }
  }
}
