---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import ExampleTabsNavigation from './ExampleTabsNavigation.astro';
import { getTabIds } from './utils';

interface Props {
  class?: string;
  tabsTitle: string;
  itemComponent: AstroComponentFactory;
  items: {
    isActive?: boolean;
    title: string;
    panelItems: Record<string, unknown>[];
  }[];
}

const {
  class: className,
  tabsTitle,
  itemComponent: Item,
  items,
  ...rest
} = Astro.props;
---

<div class:list={['example-tabs', className]} data-js-tabs {...rest}>
  <ExampleTabsNavigation
    tabsTitle={tabsTitle}
    items={items}
    data-js-tabs-navigation
  />

  <div class="example-tabs__panels">
    {
      items.map(({ isActive, title, panelItems }) => {
        const { tabId, contentId } = getTabIds(title);

        return (
          <div
            class:list={['example-tabs__panel', isActive && 'is-active']}
            id={contentId}
            aria-labelledby={tabId}
            tabindex="0"
            role="tabpanel"
            data-js-tabs-panel
          >
            <ul class="example-tabs__list grid">
              {panelItems.map((panelItem) => (
                <li class="grid__item">
                  <Item {...panelItem} />
                </li>
              ))}
            </ul>
          </div>
        );
      })
    }
  </div>
</div>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .example-tabs {
    --tabs-color-blue: #667eea;

    @include var(--tabs-navigation-padding-v, 8px);

    &__navigation {
      position: relative;

      @include flex-center;
      padding: var(--tabs-navigation-padding-v);
      max-width: 500px;
      margin-inline: auto;
      margin-bottom: 30px;

      background-color: var(--tabs-color-blue);
      border-radius: 12px;

      &::after {
        content: '';

        position: absolute;
        top: var(--tabs-navigation-padding-v);
        bottom: var(--tabs-navigation-padding-v);
        left: var(--tabs-navigation-active-btn-offset, 0);

        width: var(--tabs-navigation-active-btn-width, 0);

        background-color: #7798f3;
        border-radius: 10px;

        transition-duration: 0.4s;
      }
    }

    &__btn {
      @include reset-btn;

      @include padding(14px 24px, 12px 20px $laptop);

      font-weight: 500;
      @include font-size(18px, 14px $laptop);
      line-height: 1.5;
      color: var(--color-white);

      border-radius: 10px;

      cursor: pointer;
      user-select: none;

      z-index: 1;

      transition: var(--transition-duration);

      &:focus-visible {
        outline: 2px solid var(--color-white);
        outline-offset: 2px;
        transition-duration: 0s !important;
      }

      &.is-active {
        pointer-events: none;
      }
    }

    &__panel:not(.is-active) {
      display: none;
    }

    &__list {
      @include var(--grid-items-count, 3, 2 $laptop-s, 1 $tablet-s);
      @include var(--grid-gap, 30px, 20px $laptop);
      --grid-row-gap: 20px;
    }
  }
</style>
