---
import '../styles/common.scss';
import '../styles/base/core/_utils.scss';
import AstroFont from '@plugins/astro-font/AstroFont.astro';
import { localizedHTML as favicons } from 'astro-favicons/middleware';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <Fragment set:html={favicons(Astro.currentLocale)} />
    <meta name="generator" content={Astro.generator} />
    {description && <meta name="description" content={description} />}
    <title>{title}</title>
    <AstroFont
      config={[
        {
          name: 'Poppins',
          preload: false,
          fallback: 'sans-serif',
          fallbackName: 'Poppins-fallback',
          googleFontsURL:
            'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,700&display=swap',
          subsets: ['latin'],
        },
      ]}
    />
    <script>
      window.addEventListener('load', function () {
        document.body.classList.add('loaded');
      });
    </script>
    <script src="../js/base.ts"></script>
  </head>
  <body>
    <main class="main">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  #group-mq {
    top: 0;
  }
</style>
