@mixin sticky-header($animated: null) {
  position: sticky;
  top: var(--sticky-header-top, 0);
  z-index: var(--sticky-header-z-index, 100);

  width: 100%;

  @if $animated == animated {
    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: var(--sticky-header-animation-start, 0)
      var(--sticky-header-animation-end, 200px);
    animation-duration: 1ms; /* Firefox requires this to apply the animation */

    @keyframes scrolling-header {
      from {
      }

      to {
        padding-block: 14px;

        background-color: var(--color-bg);
        box-shadow: 0 0 2px 0 var(--black-15);
      }
    }
  }
}
