---
import Layout from '@/layouts/Layout.astro';
import SwiperSlider from '@/@examples/components/SwiperSlider.astro';
import Card from '@/@examples/components/Card.astro';
import '@/@examples/example.scss';
import sliderData from '@/@examples/data/slider.json';
---

<script>
  import SwiperSliderCollection from '@/js/modules/swiper';
  new SwiperSliderCollection();
</script>

<Layout title="Examples | Swiper">
  <div class="example">
    <div class="container">
      <h1 class="example__title">Swiper</h1>

      <SwiperSlider itemComponent={Card} items={sliderData} />
    </div>
  </div>
</Layout>
