---
import ExampleLayout from '@/@examples/ExampleLayout.astro';
import ExampleSwiperSlider from '@/@examples/components/ExampleSwiperSlider.astro';
import ExampleCard from '@/@examples/components/ExampleCard.astro';
import '@/@examples/example.scss';
import sliderData from '@/@examples/data/slider.json';
---

<script>
  import SwiperSliderCollection from '@/js/modules/swiper';
  new SwiperSliderCollection();
</script>

<ExampleLayout title="Examples | Swiper">
  <div class="example">
    <div class="container">
      <h1 class="example__title">Swiper</h1>

      <ExampleSwiperSlider itemComponent={ExampleCard} items={sliderData} />
    </div>
  </div>
</ExampleLayout>
