@mixin fix-gradient-bottom-line($beforeOrAfter: after, $color, $y: null) {
  &::#{$beforeOrAfter} {
    content: '';

    position: absolute;
    left: 0;
    right: 0;

    @if $y {
      top: calc(#{$y} - 2px);
      height: 4px;
    } @else {
      bottom: -1px;
      height: 2px;
    }

    background-color: $color;
  }
}
