---
import { SvgIcon } from '@/core';

interface Props {
  class?: string;
  id?: string;
  href?: string;
  icon?: string;
  label?: string;
  stretch?: boolean;
  dark?: boolean;
  type?: 'button' | 'submit';
}

const {
  class: className,
  href,
  icon,
  label,
  stretch = false,
  dark = false,
  type,
  ...rest
} = Astro.props;

const Tag = href !== undefined ? 'a' : 'button';

const attrs = {} as Record<string, string>;

if (href) {
  attrs.href = href;
} else {
  attrs.type = type ?? 'button';
}

if (label) {
  attrs.title = label;
  attrs['aria-label'] = label;
}

const hasText = Astro.slots.has('default');
---

<Tag
  class:list={[
    'btn',
    stretch && 'btn--stretch',
    dark && 'btn--dark',
    className,
  ]}
  {...attrs}
  {...rest}
>
  {icon && <SvgIcon name={icon} class="btn__icon" />}
  {
    hasText && (
      <span>
        <slot />
      </span>
    )
  }
</Tag>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .btn {
    @include reset-btn;

    @include var-fluid(--btn-padding, 18px 24px, 14px 24px $laptop);

    @include inline-flex-center;
    @include column-gap(4px);

    &:has(> span) {
      padding: var(--btn-padding);
    }

    &:not(:has(> span)) {
      @include box-fluid(56px, 48px $laptop);
    }

    @include font-size-fluid(18px, 14px $laptop);
    font-weight: 600;
    color: var(--absolute-white);

    background-color: var(--red-45);
    border-radius: 8px;

    white-space: nowrap;

    @include hover {
      background-color: var(--red-55);
    }

    &--stretch {
      width: 100%;
    }

    &--dark {
      background-color: var(--black-08);
      border: 1px solid var(--black-15);

      @include hover {
        background-color: var(--black-15);
      }
    }

    &__icon {
      @include box(28px, 24px $laptop);
    }
  }
</style>
