---
import { MyImage, SvgIcon } from '@/core';

interface Props {
  class?: string;
  url: string;
  name: string;
  images: string[];
  top?: boolean;
}

const { class: className, url, name, images, top = false } = Astro.props;
---

<a class:list={['genre-card', top && 'genre-card--top', className]} href={url}>
  <div class="genre-card__images">
    {
      images.map((image) => (
        <MyImage
          class="genre-card__img"
          src={image}
          width="0.5"
          densities={[1.5, 2]}
          alt=""
        />
      ))
    }
  </div>

  <div class="genre-card__title-wrap">
    <h3 class="genre-card__title">
      {name}
    </h3>

    <SvgIcon name="arrow" class="genre-card__icon" />
  </div>
</a>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .genre-card {
    --genre-card-gradient-opacity: 1;
    --gc-images-gap: 5px;
    --gc-img-aspect-ratio: 235 / 252;
    @include var(--gc-img-radius, 10px, 6px $laptop);
    --gc-title-fz: inherit;

    &--top {
      --gc-images-gap: 10px;
      --gc-img-aspect-ratio: 141 / 121;
      --gc-img-radius: 4px;
      @include var(--gc-title-fz, 20px, 16px $laptop);
    }

    position: relative;

    @include flex-column;
    @include padding-fluid(30px, 24px $laptop, 20px $tablet-s);

    background: var(--black-10);

    border: 1px solid var(--black-15);
    @include border-radius-12-10;

    outline-offset: -2px;

    transition-duration: var(--transition-duration);

    @include hover {
      --genre-card-gradient-opacity: 0;
      border-color: var(--black-30);
    }

    &__images {
      position: relative;

      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--gc-images-gap);

      &::after {
        content: '';

        position: absolute;
        inset: 0;
        background-image: linear-gradient(
          to bottom,
          rgb(26 26 26 / 0%) 0%,
          var(--black-10) 100%
        );
        opacity: var(--genre-card-gradient-opacity);

        transition-duration: var(--transition-duration);
      }
    }

    &__img {
      aspect-ratio: var(--gc-img-aspect-ratio);
      width: 100%;
      object-fit: cover;

      border-radius: var(--gc-img-radius);
    }

    &__title-wrap {
      @include flex-between-center;
      column-gap: 1rem;
      color: var(--absolute-white);
    }

    &__title {
      font-size: var(--gc-title-fz);
      font-weight: 600;
    }

    &--top &__title {
      position: relative;

      @include flex-column-start-x;
      @include row-gap(4px, 2px $laptop);

      &::before {
        content: 'Top 10 In';

        @include padding(10px, 8px $laptop);

        font-weight: 600;
        @include font-size(16px, 12px $laptop);
        line-height: 0.75;
        color: var(--absolute-white);

        background: var(--red-45);
        @include border-radius(5px, 4px $laptop);
      }
    }

    &__icon {
      @include box-fluid(30px, 24px $laptop, 20px $tablet-s);
    }
  }
</style>
