---
interface Props {
  class: string;
  currentPageUrl?: string;
}

const { class: className, currentPageUrl } = Astro.props;

const isActive = (href: string) => href === (currentPageUrl ?? '/');

const pages = [
  {
    label: 'Home',
    href: '/',
  },
  {
    label: 'Movies & Shows',
    href: '/movies',
  },
  {
    label: 'Support',
    href: '/support',
  },
  {
    label: 'Subscriptions',
    href: '/subscription',
  },
];
---

<nav class:list={['site-menu', className]}>
  <ul class="site-menu__list">
    {
      pages.map(({ label, href }) => (
        <li
          class:list={[
            'site-menu__item',
            isActive(href) && 'site-menu__item--active',
          ]}
        >
          {!isActive(href) ? <a href={href}>{label}</a> : <a>{label}</a>}
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .site-menu {
    @include padding(10px, 8px $laptop);

    @include font-size(18px, 14px $laptop);
    color: var(--grey-75);

    border: 4px solid var(--black-12);
    @include border-width(3px $laptop);
    @include border-radius-12-10;

    background-color: var(--color-foreground);

    @include tablet-s-and-lower {
      margin-bottom: auto;
      width: 100%;
      padding: 0;

      background: none;
      border: none;

      overflow-y: auto;
    }

    &__list {
      @include var(--site-menu-item-padding, 14px 24px, 12px 20px $laptop);

      @include flex-center;
      @include gap(6px);

      @include tablet-s-and-lower {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        max-width: 260px;
        margin-inline: auto;
        padding: 4px;
      }
    }

    &__item {
      display: flex;

      a {
        width: 100%;
        padding: var(--site-menu-item-padding);

        text-decoration: none;

        border-radius: 8px;

        @include hover {
          background: var(--black-12);
        }
      }

      &--active {
        font-weight: 500;
        color: var(--absolute-white);

        border: 1px solid var(--black-10);

        a {
          background-color: var(--black-10);

          pointer-events: none;
        }
      }

      @include tablet-s-and-lower {
        text-align: center;

        a {
          /* background-color: var(--black-10); */

          @include hover {
            background: var(--black-15);
          }
        }

        &--active {
          a {
            background-color: var(--black-12);
          }
        }
      }
    }
  }
</style>
