---

---

<footer class="footer">
  <span>FOOTER</span>
</footer>

<style lang="scss" is:global>
  .footer {
    display: flex;
    justify-content: center;
    padding: 32px;

    font-size: 28px;
    color: white;

    background-color: darkblue;
  }
</style>
