---

---

<footer class="footer">
  <div class="footer__inner container">
    <span>FOOTER</span>
  </div>
</footer>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .footer {
    padding: 20px 0;
    background-color: black;
    color: white;
    text-align: center;
  }
</style>
