---
import { SvgIcon } from '@/core';
import SiteLogo from '../components/SiteLogo.astro';
import SiteMenu from '../components/SiteMenu.astro';
import Burger from '../components/Burger.astro';

interface Props {
  currentPageUrl?: string;
}

const { currentPageUrl } = Astro.props;

const isHomePage = !currentPageUrl || currentPageUrl === '/';
---

<header class:list={['header', isHomePage && 'header--fixed']} data-js-header>
  <div class="header__inner container">
    <SiteLogo class="header__logo" />

    <dialog class="header__overlay" data-js-header-overlay>
      <SiteMenu class="header__nav" currentPageUrl={currentPageUrl} />

      <div class="header__actions">
        <div class="header__action header__action--search">
          <button
            class="header__btn header__btn--search"
            type="button"
            title="Search"
          >
            <span class="visually-hidden">Search</span>
            <SvgIcon
              width="34"
              height="34"
              class="header__btn-icon"
              name="search"
            />
          </button>
          <label for="search" class="visually-hidden">Find on Stream Vibe</label
          >
          <input class="header__search-bar" type="search" id="search" />
        </div>

        <button
          class="header__btn header__btn--notifications"
          type="button"
          title="Notifications"
        >
          <SvgIcon
            width="34"
            height="34"
            class="header__btn-icon"
            name="bell"
          />
        </button>
      </div>
    </dialog>

    <Burger class="header__burger sm-only" data-js-header-burger />
  </div>
</header>

<script>
  function header() {
    const rootEl = document.querySelector<HTMLElement>('[data-js-header]')!;
    const overlayDialogEl = rootEl.querySelector<HTMLDialogElement>(
      '[data-js-header-overlay]',
    )!;
    const burgerBtnEl = rootEl.querySelector<HTMLElement>(
      '[data-js-header-burger]',
    )!;

    const toggleNavOverlay = () => {
      burgerBtnEl.classList.toggle('is-active');

      if (!overlayDialogEl.open) {
        showDialog();
      } else {
        closeDialog();
      }

      document.documentElement.classList.toggle('locked');

      scrollToHeaderBar();
    };

    const showDialog = () => {
      overlayDialogEl.show();

      document.body.childNodes.forEach((node) => {
        if (
          node.nodeType === Node.ELEMENT_NODE &&
          node !== rootEl &&
          node !== overlayDialogEl &&
          node !== burgerBtnEl &&
          !overlayDialogEl.contains(node)
        ) {
          (node as HTMLElement).inert = true;
        }
      });
    };

    const closeDialog = () => {
      overlayDialogEl.close();

      document.querySelectorAll('[inert]').forEach((el) => {
        (el as HTMLElement).inert = false;
      });
    };

    const scrollToHeaderBar = () =>
      rootEl.scrollIntoView({ behavior: 'smooth' });

    burgerBtnEl.addEventListener('click', toggleNavOverlay);
  }

  header();
</script>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .header {
    @include sticky-header(animated);

    @include padding-block(22px 23px, 18px 19px $laptop, 14px $tablet-s);

    &--fixed {
      position: fixed;
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1rem;
    }

    &__logo {
      @include width-fluid(199px, 166px $laptop, 116px $tablet-s);
    }

    &__overlay {
      display: contents;

      @include tablet-s-and-lower {
        --overlay-bg-color: var(--black-10);
        --overlay-row-gap: 30px;

        @include overlay;
        flex-direction: column-reverse;
      }
    }

    &__actions {
      @include display(flex, contents $tablet-s);
      @include column-gap(
        30px - 10px,
        14px - 10px $laptop
      ); // minus btn padding * 2
    }

    &__action {
      position: relative;

      @include flex-center-v;

      @include tablet-s-and-lower {
        &--search {
          margin-top: auto;
        }
      }
    }

    &__search-bar {
      @include display(none, block $tablet-s);
      min-width: 300px;
      padding: 14px;
      padding-left: 4px + 44px + 4px;

      color: var(--grey-75);

      background-color: var(--black-08);

      border: 1px solid var(--black-15);
      border-radius: 10px;
    }

    &__btn {
      @include reset-btn;

      @include flex-center;
      @include box(44px);

      color: var(--absolute-white);

      border-radius: 8px;

      user-select: none;
      cursor: pointer;

      &:active {
        scale: 1.05;
      }

      &:disabled {
        color: var(--grey-60);
        pointer-events: none;
      }

      @include tablet-s-and-lower {
        &--search {
          position: absolute;
          left: 4px;
        }

        &--notifications {
          position: fixed;
          top: 18px;
          right: 75px;
        }
      }
    }

    &__btn-icon {
      @include box(34px, 24px $laptop);
    }

    &__burger {
      z-index: 2;
    }
  }
</style>
