---

---

<header class="header" data-js-header>
  <button
    class="header__burger burger"
    data-js-header-burger
    aria-label="Open navigation menu"
    type="button"
  >
    <span></span>
  </button>

  <div class="header__overlay" data-js-header-overlay>
    <nav class="header__nav site-menu" data-js-header-overlay>
      <ul class="site-menu__list">
        <li class="site-menu__item site-menu__item--active">
          <a href="/">home</a>
        </li>
        <li class="site-menu__item"><a href="#">activities</a></li>
        <li class="site-menu__item"><a href="#">pricing plan</a></li>
        <li class="site-menu__item"><a href="#">contact us</a></li>
        <li class="site-menu__item"><a href="#">blog</a></li>
        <li class="site-menu__item"><a href="#">about us</a></li>
      </ul>
    </nav>

    <a href="#" class="header__btn btn">Contact us</a>
  </div>
</header>

<script>
  function header() {
    const rootEl = document.querySelector<HTMLElement>('[data-js-header]')!;
    const overlayEl = rootEl.querySelector<HTMLElement>(
      '[data-js-header-overlay]',
    )!;
    const burgerBtnEl = rootEl.querySelector<HTMLElement>(
      '[data-js-header-burger]',
    )!;

    const toggleNavOverlay = () => {
      burgerBtnEl.classList.toggle('is-active');
      overlayEl.classList.toggle('is-active');
      document.documentElement.classList.toggle('locked');

      scrollToHeaderBar();
    };

    const scrollToHeaderBar = () =>
      rootEl.scrollIntoView({ behavior: 'smooth' });

    burgerBtnEl.addEventListener('click', toggleNavOverlay);
  }

  header();
</script>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: 36px;
    color: white;
    background-color: orangered;
    align-items: center;

    &__burger {
      --line-color: #fff;
      --line-color-hover: #fefefe;
      --cross-color: #000;
      --cross-color-hover: #111;

      @include burger;

      @include higher-laptop {
        display: none !important;
      }
    }

    &__overlay {
      display: contents;

      @include laptop-and-lower {
        --overlay-bg-color: var(--color-white);

        color: #000;

        @include overlay;
      }
    }
  }

  .site-menu {
    a {
      text-decoration: none;
    }

    &__list {
      display: flex;
      gap: 15px;
      justify-content: center;
      align-items: center;
      font-size: clamp(14px, 2vw, 20px);

      @include flex-direction(column $laptop);
    }
  }
</style>
