---
import { MyPicture } from '@/core';
---

<section class="hero" aria-labelledby="hero-title">
  <header class="hero__header">
    <h2 class="hero__title" id="hero-title">HERO SECTION</h2>

    <MyPicture
      class="hero__bg"
      src="@img/hero-bg.jpg"
      formats={['avif', 'webp']}
      alt=""
      priority
    />
  </header>
</section>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .hero {
    &__header {
      position: relative;

      @include margin-inline-fluid(50px, 15px $tablet-s);
      @include margin-inline(0 $tablet-s);

      text-align: center;
    }

    &__title {
      position: absolute;
      inset: 0;
      @include flex-column-center-x;
      @include padding-block-start-fluid(104px, 52px $tablet-s);
      @include padding-block-start-fluid(82px $tablet-s, 42px $mobile-s);
      @include padding-inline(60px, 1rem $tablet-s);
      @include row-gap-fluid(32px, 14px $mobile-s);

      font-size: 36px;
      color: white;
    }

    &__bg {
      width: 100%;
      @include border-radius(20px, 0 $tablet-s);
    }
  }
</style>
