---
import { SvgIcon } from '@/core';

export interface Options {
  inset?: boolean;
  bottom?: boolean;
  stretch?: boolean;
  noBox?: boolean;
  rounded?: boolean;
  noBullets?: boolean;
}

interface Props {
  class?: string;
  id?: string;
  options?: Options;
}

const { class: className, options = {}, ...attrs } = Astro.props;

const prevNavBtnTitle = 'To previous slide';
const nextNavBtnTitle = 'To next slide';
---

<div
  class:list={[
    'slider-navigation',
    options.bottom && 'slider-navigation--bottom',
    options.inset && 'slider-navigation--inset',
    options.stretch && 'slider-navigation--stretch',
    options.noBox && 'slider-navigation--no-box',
    className,
  ]}
  data-js-slider-navigation
  {...attrs}
>
  <button
    class:list={[
      'slider-navigation__btn',
      'slider-navigation__btn--prev',
      options.rounded && 'slider-navigation__btn--rounded',
    ]}
    type="button"
    title={prevNavBtnTitle}
    aria-label={prevNavBtnTitle}
    data-js-slider-arrow-prev
  >
    <SvgIcon name="arrow" class="slider-navigation__arrow-icon" />
  </button>

  {
    !options.noBullets && (
      <div class="slider-navigation__bullets" data-js-slider-bullets />
    )
  }

  <button
    class:list={[
      'slider-navigation__btn',
      options.rounded && 'slider-navigation__btn--rounded',
    ]}
    type="button"
    title={nextNavBtnTitle}
    aria-label={nextNavBtnTitle}
    data-js-slider-arrow-next
  >
    <SvgIcon name="arrow" class="slider-navigation__arrow-icon" />
  </button>
</div>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .slider-navigation {
    @include flex-center-v;
    @include column-gap(16px, 12px $laptop);

    &--inset {
      position: absolute;
      z-index: 2;

      @include margin-block(20px, 16px $laptop);
      @include margin-inline(50px, 40px $laptop);
    }

    &--bottom:not(&--inset) {
      order: 2;
    }

    &--bottom#{&}--inset {
      bottom: 0;
    }

    &:not(&--no-box) {
      @include padding(16px, 12px $laptop, 0 $tablet-s);
      background-color: var(--black-06);

      border: 1px solid var(--black-12);
      @include border-radius-12-10;
    }

    &--stretch {
      justify-content: space-between;
    }

    &--stretch:not(&--inset) {
      align-self: stretch;
    }

    &--stretch#{&}--inset {
      left: 0;
      right: 0;
    }

    &__btn {
      @include reset-btn;

      @include flex-center;
      @include padding(14px, 10px $laptop);

      color: var(--absolute-white);

      background-color: var(--black-10);

      border: 1px solid var(--black-12);
      @include border-radius-8-6;

      &--prev {
        .slider-navigation__arrow-icon {
          scale: -1 1;
        }
      }

      &--rounded {
        background-color: var(--black-08);
        border-color: var(--black-15);
        border-radius: 50%;
      }

      &[disabled] {
        opacity: 0.6;
      }
    }

    &--stretch &__btn {
      background-color: var(--black-06);
    }

    &__arrow-icon {
      @include box(28px, 24px $laptop);
    }

    &__btn--rounded &__arrow-icon {
      color: var(--grey-60);
      @include box(24px, 20px $laptop);
    }

    &__bullets {
      display: flex;
      column-gap: 3px;
    }

    &__bullet {
      @include width(16px, 14px $laptop);
      height: 4px;

      background-color: var(--black-20);

      border-radius: 100px;
      outline-offset: -2px;

      transition-duration: var(--transition-duration);

      &--active {
        @include width(23px, 18px $laptop);

        background-color: var(--red-45);
      }
    }
  }
</style>
