---
import type { AstroComponent } from '@/core';
import SliderNavigation, {
  type Options as NavigationOptions,
} from './SliderNavigation.astro';
import type { SwiperOptions } from 'swiper/types';

interface Props {
  class?: string;
  options?: SwiperOptions;
  itemComponent: AstroComponent;
  items: Record<string, unknown>[];
  fitViewportSm?: boolean;
  navigationElementId?: string;
  navOptions?: NavigationOptions;
  hideNavSm?: boolean;
  showScrollbarSm?: boolean;
}

const commonOptions = {
  pagination: {
    bulletClass: 'slider-navigation__bullet',
    bulletActiveClass: 'slider-navigation__bullet--active',
    clickable: true,
  },
  scrollbar: {
    dragClass: 'slider__scrollbar-drag',
  },
};

const defaultOptions = {
  slidesPerView: 5,
  slidesPerGroup: 5,
  spaceBetween: 30,
  breakpoints: {
    1: {
      slidesPerView: 2,
      slidesPerGroup: 1,
      spaceBetween: 20,
    },
    577: {
      slidesPerView: 3,
      slidesPerGroup: 3,
      spaceBetween: 20,
    },
    769: {
      slidesPerView: 4,
      slidesPerGroup: 4,
      spaceBetween: 20,
    },
    1025: {
      spaceBetween: 20,
      // allowTouchMove: false,
    },
    1441: {
      spaceBetween: 30,
      // allowTouchMove: false,
    },
  },
} as SwiperOptions;

const {
  class: className,
  options,
  itemComponent: Item,
  items,
  fitViewportSm = false,
  navigationElementId,
  navOptions,
  hideNavSm = true,
  showScrollbarSm = true,
} = Astro.props;

const customOptions = options ?? defaultOptions;

const sliderOptions = {
  ...commonOptions,
  ...(options ?? defaultOptions),
  pagination: {
    ...commonOptions.pagination,
    ...(typeof customOptions.pagination === 'object'
      ? customOptions.pagination
      : {}),
  },
  scrollbar: {
    ...commonOptions.scrollbar,
    ...(typeof customOptions.scrollbar === 'object'
      ? customOptions.scrollbar
      : {}),
  },
};
---

<div
  class:list={['slider', fitViewportSm && 'slider--fit-viewport', className]}
  data-js-slider={JSON.stringify({ sliderOptions, navigationElementId })}
>
  {
    !navigationElementId && (
      <SliderNavigation
        class:list={[hideNavSm && 'sm-hide']}
        options={navOptions}
      />
    )
  }

  <div class="slider__body swiper" data-js-slider-swiper>
    <ul class="swiper-wrapper" data-js-slider-slides>
      {
        items.map((item) => (
          <li class="slider__item swiper-slide">
            <Item {...item} />
          </li>
        ))
      }
    </ul>
  </div>

  {
    showScrollbarSm && (
      <div class="slider__scrollbar sm-only" data-js-slider-scrollbar />
    )
  }
</div>

<style lang="scss" is:global>
  @use '@styles/base' as *;

  .slider {
    position: relative;

    @include flex-column-start-x;

    &__body {
      width: 100%;
    }

    &:not(&--fit-viewport) &__body {
      @include mobile-l-and-lower {
        width: calc(100vw - var(--container-padding-x));
      }
    }

    &__item {
      width: auto;
    }

    &__scrollbar {
      @include pos-center-x;
      top: calc(100% + 24px);

      width: 80px;
      height: 5px;

      background-color: var(--black-20);
      border-radius: 20px;
    }

    &__scrollbar-drag {
      height: 100%;

      background-color: var(--red-45);
      border-radius: inherit;
    }
  }
</style>
